@model DashboardParceiro.Models.Cadastros.Categoria

@{
    ViewData["Title"] = "Editar";
}

<div class="container-fluid">
    <form asp-action="Save">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-light">
                        Editar Categoria
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label asp-for="Codigo" class="control-label"></label>
                                    <input asp-for="Codigo" readonly class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label asp-for="Descricao" class="control-label"></label>
                                    <input asp-for="Descricao" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="submit" value="Editar" class="btn btn-primary btn-large col-md-2" />
                                    @Html.ActionLink("Voltar", "Index", "Categoria", null, new { @class = "btn btn-secondary btn-large col-md-2" })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>