@model DashboardParceiro.Models.Cadastros.Tamanho

@{
    ViewData["Title"] = "Editar";
}

<div class="container-fluid">
    <form asp-action="Save">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-light">
                        Complemento
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label asp-for="Codigo" class="control-label"></label>
                                    <input asp-for="Codigo" class="form-control" readonly />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label asp-for="Descricao" class="control-label"></label>
                                    <input asp-for="Descricao" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="example3">
                                        Selecione o Tipo:
                                    </label>

                                    <select asp-for="TipoId" asp-items="Model.Tipos" class="form-control"></select>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="submit" value="Salvar" class="btn btn-primary btn-large col-md-2" />
                                    <button asp-controller="Tamanho" asp-action="Index" class="btn btn-default">Voltar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>